.btnwrap{
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #585858;
    color: white;
    font-size: 24px;
    flex: 1;
    margin: 5px;
    border-radius: 5px;
}

.btnwrap:hover{
    background-color: #0e0d0d;
}